{% extends 'blog/base.html' %}


{% block content %}
    <article>
        <hr>
        {% if user.is_authenticated %}
            <a href="{% url 'post_delete' pk=post.pk %}" style="float: right;margin:0px 10px;">
                Delete Post
            </a>
            <a href="{% url 'post_edit' pk=post.pk %}" style="float: right;margin:0px 10px;">
                Edit Post
            </a>
            {% if post.published_date == null %}
                <a href="{% url 'draft_publish' pk=post.pk %}" style="float: right;margin:0px 10px;">
                    Publicar
                </a>            
            {% endif %}
        {% endif %}
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaks }}</p>
        {% if post.published_date %}
            <time>published: {{ post.published_date }}</time>
        {% endif %}
    </article>

    {% if post.published_date %}
    
        <hr>

        {% if user.is_authenticated %}
            <h5>Your comment</h5>
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-secondary">Add</button>
            </form>
        {% else %}
            <h5>Want to join the discussion? <a href="/"><b>Just Login!</b></a></h5>
        {% endif %}

        <hr>

        {% if post.comments.all %}
            {% for comment in post.comments.all %}
                <div class="comment">
                    {% if user.is_authenticated %}
                        <a href="{% url 'comment_remove' pk=comment.pk %}" style="float: right;">Remove comment</a>
                    {% endif %}
                    <strong>{{ comment.author }}</strong>
                    <p>{{ comment.text|linebreaks }}</p>
                    <div class="date">{{ comment.created_date }}</div>
                </div>
                <br>
                <hr>
            {% endfor %}
        {% else %}
            <p>No comments here yet</p>
        {% endif %}
        
    {% endif %}

    <style>
        form p label {
            display: none;
        }
        form p textarea {
            width: 80%;
        }
    </style>

{% endblock %}