{% extends 'blog/base.html' %}

{% block content %}
    <hr>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p}}
        {% if request.get_full_path == "/post/new/" %}
            <button type="submit" class="save btn btn-success" style="float: right;">Save as Draft</button>
        {% else %}
            <button type="submit" class="save btn btn-success" style="float: right;">Update</button>
        {% endif %}
    </form>

    <style>
        form p label {
            width: 100%;
            font-weight:400;
            font-size: 1.5em;
            color: #1266f1;
        }
        form p input {
            width: 80%;
        }
        form p textarea {
            width: 80%;
        }
    </style>
{% endblock %}